.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 150px;
    /* modify background color here*/
    background-color:#008080;
;
    
}

.bodyimg{
    position: relative;
    top: 0;
    left:0
}

.logoimg{

    position: relative;
    top:-720px;
    left:400px;

}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    position: relative;
    top:-500px;
    left:0px;
    border-radius: 27px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding:100px;
    margin-bottom: 150px;
    margin-left: 100px;
    width:310px;
    font-family: fantasy;
    font-size:20px;
    font-style: normal;
    font-stretch: expanded;
    line-height: 60px;
    border: solid;
    border-color: blue;
}

.helpline{
    position:fixed;
    bottom: 150px;
    right:30px;
}
